* {
  margin: 0;
  padding: 0;
  font-family: Montserrat; }

@font-face {
  font-family: "texto";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf); }

body {
  max-width: 100%;
  background: black; }

header {
  justify-content: center;
  display: flex;
  background-color: black; }

@media (max-width: 800px) {
  .estadio {
    display: none; }
  .cds {
    display: none; } }

.estadio {
  width: 250px;
  height: 250px;
  justify-content: right;
  transition: 1s; }
  .estadio:hover {
    transform: scale(1.05); }

.escudo {
  width: 250px;
  height: 250px;
  justify-content: right;
  transition: 1s; }
  .escudo:hover {
    transform: scale(1.05); }

.cds {
  width: 250px;
  height: 250px;
  justify-content: right;
  transition: 1s; }
  .cds:hover {
    transform: scale(1.05); }

.nav-color {
  background-color: #FFCB01; }

.navbar .navbar-nav, .navbar .mr-auto {
  flex: 1; }

h1 {
  color: #FFCB01;
  text-align: center;
  font-family: texto;
  font-weight: bolder;
  max-width: 100%; }

h2 {
  margin: 10px 10px;
  padding: 10px 10px;
  color: #FFCB01;
  text-align: center;
  font-family: texto; }

h3 {
  margin: 10px 10px;
  text-align: center;
  padding: 10px 10px;
  color: #FFCB01; }

h4 {
  color: yellow; }

h6 {
  text-align: center;
  color: black;
  background-color: yellow; }

p {
  margin: 20px 20px;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-family: texto; }

a {
  text-decoration: none;
  color: yellow;
  font-weight: 500px; }
  a:hover {
    color: darkred; }

.fotos {
  max-width: 100%; }

.pie a img {
  display: inline-flex;
  margin-top: 80px;
  width: 30px;
  height: 30px;
  margin: 20px; }

.loginbox {
  margin: 5px;
  padding: 5px;
  background: yellow;
  text-align: center;
  width: 320px;
  height: 420px;
  background: black;
  color: #fff;
  align-items: center;
  box-sizing: border-box;
  border-color: #FFCB01;
  margin: 0 auto; }
  .loginbox:p {
    margin: 5;
    padding: 5;
    font-weight: bold; }

.loginbox input {
  width: 100%;
  margin-bottom: 20px; }

.loginbox input[type="text"], input[type="Email"] {
  border: none;
  border-bottom: 1px solid black;
  background: #FFCB01;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px; }

.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: #FFCB01;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px; }

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 30px;
  background: #FFCB01;
  color: black;
  font-size: 18x;
  border-radius: 20px; }
  .loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #fff;
    color: #000; }

.foto-principal {
  max-width: 80%; }

iframe {
  width: 500px;
  height: 500px;
  max-width: 80%;
  margin: 20px;
  padding: 20px;
  border: #000; }

.titulos {
  margin: 10px 10px;
  padding: 10px 10px;
  color: #FFCB01; }

.datos {
  color: #FFCB01; }

.articulo {
  width: 500px;
  height: 300px;
  max-width: 100%; }
