/*MAP-GET*/
$login:(
    border-radius:10px,
    border: none,
    border-bottom: 1px solid rgb(0, 0, 0),
    background: #FFCB01,
    outline: none,
    height: 40px,
    color: rgb(0, 0, 0),
    font-size: 16px,
);
.loginbox {margin: 5px;
	padding: 5px;
	background: yellow;
	text-align: center;
    width: 300px;
    height: 420px;
    background: rgb(0, 0, 0);
    color: #fff;
    align-items: center;
    box-sizing: border-box;
    border-color: #FFCB01;
    margin: 0 auto;
     &:p{
        margin: 5;
        padding: 5;
        font-weight: bold;
    }
 
}

.loginbox input {
    width: 80%;
    margin-bottom: 20px;
    padding-left: 5px;
}
.inicio{
    border: map-get($login , border ) ;
    border-bottom: map-get($login , border-bottom ) ;
    background:  map-get($login , background ) ;
    outline:  map-get($login , outline ) ;
    height:  map-get($login , height ) ;
    color:  map-get($login , color ) ;
    font-size:  map-get($login , font-size) ;
}

.loginbox input[type = "submit"] {
    border: none;
    outline: none;
    height: 30px;
    background: #FFCB01;
    color: black;
    font-size: 18x;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        background: #fff;
        color: #000;
    }
    }

