iframe{width: 500px;
    height: 500px;
    max-width: 80%;
    margin: 20px;
    padding: 20px;
    border: #000;
}
.titulos{margin: 10px 10px;
	padding: 10px 10px;
	color: #FFCB01;

}
.datos{
	color: #FFCB01;
}