.noticia{
    width: auto;
    max-width: 100%;
    transition: 1s;
    &:hover{
        transform: scale(1.03)
    }
}
.contenido{
    border: 1px solid yellow;
    padding: 2px;
}
.contenido2{
    @extend .contenido;
    border-color: #aaa;
}